@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito", sans-serif;
  word-wrap: break-word;
  box-sizing: border-box;
  background-color: #F6F8F9;
}

.btn-normal:hover {
  background-color: var(--hover-color);
}